:root{
    --title-color: #212121;
    --main-color:#757575;
    --accent-color: #2196F3;
    --footer-contacts: rgba(255, 255, 255, 0.6);
    --main-white: #ffffff;
    --background-team-color: #F5F4FA;
    --button-hover: #188CE8;
}
html{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; 
    /* max-width: 1600px; */
    color: #757575;
    background-color: var(--main-white);
}

/* Утилиты */
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    display: block;
}

.flex-container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.logo,
.link,
.info,
.contact-info {
    text-decoration: none;
}

/* Page header */

.page-header{
    border-bottom: 1px solid #ECECEC;
}

.page-header .flex-container{
    display: flex;  
}

/* Logo */

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo.primary{
    color: var(--accent-color);
}

.logo.secondary{
    color: var(--title-color);
}
.footer .secondary{
    color: var(--main-white);
}

/* Site nav */

.nav {
    display: flex;
    align-items: center;
}
.contacts{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.site-nav > .item:not(:last-child),
.contacts > .item:not(:last-child){
    margin-right: 50px;
}

.site-nav{
    display: flex;
    padding: 0;
    margin-left: 93px;
}

.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

.site-nav .current{
    color: var(--accent-color);
}

.contacts .info{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: var(--main-color);
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
    font-size: 14px;
}

.info:hover,
.info:focus,
.contact-info:hover,
.contact-info:focus,
.link:hover,
.link:focus{
    color: var(--accent-color);
}

/* Hero */

.hero{
    background-color: #2F303A;
    text-align: center;
    padding: 200px 0;
}

.hero-title{
    max-width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;    
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    margin: 0 auto 30px;

    color: var(--main-white);
}

.button{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    min-width: 200px;
    cursor: pointer;
    
    text-align: center;
    align-items: center;
    color: var(--main-white);
    background-color: var(--accent-color);

    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button:hover,
.button:focus{
    background-color: #188CE8;
    color: var(--main-white);
}

/*--------About Start------- */


.features{
    display: flex;
    flex-wrap: wrap;
}

.section-about{
    padding-top: 94px;
}

.features .title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-color);
}

.features > .item{
    width: 270px;
}
.item:not(:last-child){
    margin-right: 30px;
}

.features > .list{
    justify-content: center;
}

.about{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* Чем мы занимаемся */

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;

    color: var(--title-color);
}

.section-list{
    display: flex;
    justify-content: center;
}

.section-list .item:not(:last-child){
    margin-right: 30px;
}

/* Our team */

.section:nth-child(2n){
    background-color: var(--background-team-color);
}

/* Card-box */

.teamlist{
    display: flex;
    justify-content: center;
}

.teammates{
    width: 270px;
    background: #FFFFFF;
    margin-right: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.teammates:last-child{
    margin-right: 0;
}

.team-container{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-member{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color);
}

.position{
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 10px;
}


/* Portfolio */

.flex-container .filter{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}

.filter .filter-button:not(:last-child){
    margin-right: 8px;
}

.filter-item{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.62;
    cursor: pointer;

    padding: 6px 22px;
    text-align: center;
    border-radius: 4px;
    border: none;
    
    color: var(--title-color);
    background-color: var(--background-team-color);
}

.filter-item:hover,
.filter-item:focus,
.filter .current{
    background-color: var(--accent-color);
    color: var(--main-white);
}

 .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.service-item{
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
}

.service-item:nth-child(3n){
    margin-right: 0;
}
.service-item:nth-last-child(-n + 3){
    margin-bottom: 0;
}

.portfolio-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;

    color: var(--title-color);
}

.portfolio-text{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;

    color: var(--main-color)
}

.portfolio-title:hover,
.portfolio-title:focus,
.portfolio-text:hover,
.portfolio-text:focus{    
    color: var(--accent-color);
}

.projects{
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;
}

/* Footer */

.footer{
    background-color: #2F303A;
    padding: 60px 0;
}

.address{
    font-size: 14px;
    font-style: inherit;
    line-height: 1.7;
    letter-spacing: 0.03em;

    margin-top: 20px;

    color: var(--main-white);
}
.contact-info{
    display: block;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 9px;

    color: var(--footer-contacts);
}